<div class="ticket-dashboard">
  <div class="card">
    <h3><span class="badge m-r-5 badge-pill bg-secondary">Open</span></h3>
    <div class="ticket-list">
      <div class="ticket-item" *ngFor="let ticket of openTickets" (click)="editTicket(ticket.id)">
        <h4>{{ ticket.title }}</h4>
        <p>{{ shortenDescription(ticket.description) }}</p>
        <span class="badge m-r-5 badge-pill" [ngClass]="getPriorityClass(ticket.priority)">
          {{ getPriorityText(ticket.priority) }}
        </span>
        <p>Due Date: {{ticket.dueDate| date:'dd/MM/yyyy' }}</p>
      </div>
      <button class="btn btn-primary" (click)="addTicket()" style="width: 60%; margin-left: 20%;">
        <i class="fas fa-plus"></i> Add Ticket
      </button>
    </div>
  </div>

  <div class="card">
    <h3><span class="badge m-r-5 badge-pill bg-warning">In Progress</span></h3>
    <div class="ticket-list">
      <div class="ticket-item" *ngFor="let ticket of inProgressTickets" (click)="editTicket(ticket.id)">
        <h4>{{ ticket.title }}</h4>
        <p>{{ shortenDescription(ticket.description) }}</p>
        <span class="badge m-r-5 badge-pill" [ngClass]="getPriorityClass(ticket.priority)">
          {{ getPriorityText(ticket.priority) }}
        </span>
        <p>Due Date: {{ticket.dueDate| date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h3><span class="badge m-r-5 badge-pill bg-primary">Resolved</span></h3>
    <div class="ticket-list">
      <div class="ticket-item" *ngFor="let ticket of resolvedTickets" (click)="editTicket(ticket.id)">
        <h4>{{ ticket.title }}</h4>
        <p>{{ shortenDescription(ticket.description) }}</p>
        <span class="badge m-r-5 badge-pill" [ngClass]="getPriorityClass(ticket.priority)">
          {{ getPriorityText(ticket.priority) }}
        </span>
        <p>Due Date: {{ticket.dueDate| date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h3><span class="badge m-r-5 badge-pill bg-success">Closed</span></h3>
    <div class="ticket-list">
      <div class="ticket-item" *ngFor="let ticket of closedTickets" (click)="editTicket(ticket.id)">
        <h4>{{ ticket.title }}</h4>
        <p>{{ shortenDescription(ticket.description) }}</p>
        <span class="badge m-r-5 badge-pill" [ngClass]="getPriorityClass(ticket.priority)">
          {{ getPriorityText(ticket.priority) }}
        </span>
        <p>Due Date: {{ticket.dueDate| date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>
</div>
